* {
    margin: 0;
    padding: 0;
}

body{
    background: #000;
    font-family: barlow condensed;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 24px;
    z-index: 100;
    max-width: calc(100% - 32px);
    width: 1180px;
    position: absolute;
    background-color: #000;
    padding: 16px 32px;
    padding-left: 16px;
    top: 24px;
    border-radius: 16px;
    left: 50%;
    transform: translateX(-50%);
}

.navbar a {
    color: #fff;
    font-weight: 600;
    line-height: 1.2;
    font-size: 16px;
    font-family: Barlow condensed,sans-serif;
}

.navbar__logo__img {
    width: 200px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

a:visited {
    text-decoration: none;
}

.navigation--horizontal {
    display: flex;
    align-items: center;
    margin: 0;
}

.navigation{
    list-style: none;
}

ol, ul {
    padding-left: 0;
}

.navigation--horizontal .menu-item {
    position: relative;
    margin: 0;
}

.hero {
    background:#000;
    background-image: url("../img/bg-main.png");
    overflow: hidden;
    position: relative;
}
.hero--full-image {
    padding-top: 160px;
    padding-bottom: 120px;
    color: #fff;
    position: relative;
    overflow: hidden;
    height: 44vw;
    max-height: 840px;
    display: flex;
    align-items: center;
    height: 680px;
}

.bg--image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

.hero__triangulo {
    background: url(../img/triangulo-bg.png) no-repeat center top;
    background-size: 1920px 144px;
    bottom: 0;
    height: 144px;
    left: 0;
   
    width: 100%;
}

div{
    display: block;
}

.section__header{
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.section__subtitle{
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 0px;
}

.section__title{
    font-weight: 900;
    font-size: 80px;
    letter-spacing: 3px;
}

.section__teams{
    background: #000;
}

.teams{
    margin: 0 auto;
    padding: 0 50px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
}

.teams__container{
    text-align: center;
    background: #000;
}

.teams__container__info{
    float: left;
    width: 22%;
    margin-left: 0;
    margin-right: 3%;
    overflow: hidden;
    padding: 20px 0;
}

.teams__escudo{
    margin: 0 auto;
    max-width: 269px;
}

.teams_name_title{
    vertical-align: inherit;
}